/*
font-family: 'Balsamiq Sans', cursive;
font-family: 'Roboto', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-image: url('https://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg');*/
    background-color: cadetblue;
    background-size: 100vw 100vh;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
}

/*se a tela tiver pelo enos 400px esse estilo vai se aplicar*/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
}


.menu a {
    display: block;
    padding: 10px;
}

.menu a:active
.menu a:hover {
    background-color: teal;
    color: white;
    text-decoration: none;
    transition: background-color 5s, color 2s;
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    text-decoration: underline;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4em;
}

.contato,
.portfolio {
    background-color: pink;
    padding: 2em;
    min-height: 100vh;
}

.contato h2,
.portfolio h2 {
    font-family: 'Roboto', sans-serif;
    color:whitesmoke;
    margin-bottom: 1.5em;
    font-size: 3em;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
    align-items: center;;
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 240px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 8em - 48px);
    }
}

@media (min-width: 1200px) {
    .img-portfolio {
        height: auto;
        width: 100%;
    }
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: left;
    border-radius: 10px;
    transition: transform 500ms;
}

.img-portfolio:hover {
    transform: scale(1.2) rotate(2deg);
}

.contato .icons{
    text-align: center;
}

.contato a {
    color:whitesmoke;
    font-size: 4em;
}

.contato a:active
.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, .5);
    transition: text-shadow 1s;
}
